<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header>
    <nav th:replace="fragments/commons::nav"></nav>
</header>
<body>

<th:block th:each="p : ${pictures}">
    <div class="card" style="width: 30rem;">
        <img th:src="${p.getUrl()}" class="card-img-top" th:alt="${p.getTitle()}">
        <div class="card-body">
            <h5 class="card-title" th:text="${p.getTitle()}">Card title</h5>
            <form th:action="@{/pictures/delete}"
                  th:method="delete">

                <input type="hidden" name="public_id" th:value="${p.publicId}"/>
                <input type="submit" value="Delete"/>

            </form>
        </div>
    </div>
</th:block>

<!--<div th:each="p : ${pictures}">-->
<!--    <img th:src="${p.getUrl()}" th:alt="${p.getTitle()}"/></br>-->
<!--    <form th:action="@{/pictures/delete}"-->
<!--          th:method="delete">-->

<!--        <input type="hidden" name="public_id" th:value="${p.publicId}"/>-->
<!--        <input type="submit" value="Delete"/>-->

<!--    </form>-->
<!--    <br/>-->
<!--</div>-->


</body>
</html>