<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header>
<!--    <div class="top-bar">-->
<!--        <div class="container">-->
<!--            <div class="text-right">-->
<!--                <p><a href="tel:+35954">тел: +359 2469 856</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <nav th:replace="fragments/commons::nav"></nav>
</header>
<main>
    <div class="container bg-blur rounded mt-5">
        <h1>Welcome to MasterKids,
            <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
            <span sec:authorize="!isAuthenticated()">Anonymous!</span>
        </h1>
        <hr class="my-3 bg-white w-50"/>
        <p class="h4"></p>
        <hr class="my-3 bg-white w-75"/>
        <h3>
            <a class="text-primay" th:href="@{/users/login}">Login</a>
            if you have an account or
            <a class="text-primay" th:href="@{users/register}">Register</a>
            now and register.
        </h3>
    </div>


</main>
<footer th:replace="fragments/commons::footer"></footer>
<script th:replace="fragments/commons::bsbundle"></script>
</body>
</html>
