<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header>
    <nav th:include="fragments/commons::nav"></nav>
  </header>
<main>
    <div class="container bg-blur rounded mt-5 mb-4">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Activity name</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody id="activity-container">
            <th:block th:each="activ : ${childActivities}">
            <tr>
                <td th:text="${activ}"></td>
                <td>
                    <form  th:action="@{/activity/remove/{activity}/{id}(activity=${activ},id=${childId})}" th:method="delete">
                        <input type="hidden" name="method" value="delete"/>
                        <button type="submit" class="btn btn-primary" id="submitButton">Remove</button>
                    </form>
                </td>
            </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
<script th:replace="fragments/commons::bsbundle"></script>
</body>
</html>
